 <html>

<head>
    <title>My Ridz</title>
    <meta name="viewport" content="width=device-width"> </head>

<body style="margin: 0 auto;padding: 0;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;text-align: center;font-family:sans-serif;">
    <table align="center" style="margin: 0 auto;padding: 0;min-width:600px;max-width: 600px!important;width:100%;">
        <tr style="margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;border-color: black;height:8%%;">
            <td align="center" style="margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;border-color: black;padding-top:0px;padding-left:0px;"> <img src="http://myridzassets.s3.amazonaws.com/Dealerships/Anant_Bajaj/Email_Templates/email_template_header.jpg" style="margin: 0 auto;padding: 0;width:100%;max-width: 600px;height:200px;"></td>
        </tr>
    </table>
    <br>
    <table style="margin: 0 auto;max-width: 600px!important;width:100%;color: #000;background-color: #ffffff;width: 600;text-align: left;padding-top: 10px;">
        <tr style="margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;border-color: black; text-align:left;padding-left:10px;">
            <td>
                <h3 style="padding-left:20px;"><b style="padding-left:20px;">Dear Customer, </b></h3></td>
        </tr>
    </table>
   
    <table style="margin: 0 auto;table-layout:initial;padding: 0;background-color: #F1F1F1;padding-top: 20px;max-width: 600px!important;color:#383637;width:100%;">
           <tr style="margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;border-color: black;">
            <td style="margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;border-color: black;padding-left: 20px;text-align:left;">Thank you for showing interest . Our latest price list has all the essential information and details you seek. <br><br>
            </td>
        </tr>
         <tr style="margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;border-color: black;">
            <td style="margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;border-color: black;padding-left: 20px;text-align:left;">Kindly find the detailed attachment. <br><br>
            </td>
        </tr>
     
    </table>
    <table style="margin: 0 auto;padding: 0;max-width: 600px!important;width:100%;">
        <tr style="margin: 0;border: 0px;border-width: thin;border-style: none;border-color: black;">
            <td style="text-align: right;margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;border-color: black;width:80%;">Powered by</td>
            <td style="margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;border-color: black;"> <img src="https://s3-ap-southeast-1.amazonaws.com/myridzassets/Default-assets/myridz_logo.png" style="margin: 0;padding: 0;max-height: 35px;width: auto;padding-left: 0px;margin-right:3px;"></td>
        </tr>
    </table>
    <table align="center" style="margin: 0 auto;padding: 0;max-width: 600px!important;background-color:#081d38;height:10px;width:600px;">
        <tr style="margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;border-color: black;">
            <td style="margin: 0;padding: 0;border: 0px;border-width: thin;border-style: none;">
        </tr>
    </table>
</body>

</html>

 <%#= link_to "Click Here",  "https://anant-bajaj-dev.myridz.com/" + website_pdf_for_email_path(format: 'pdf') %> 