<div class="isa_warning">
     <i class="fa fa-check"></i>
     Link has been expired. Please retry forgot password again.
</div>

<style type="text/css">
	.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
</style>