<div class="isa_warning">
     <i class="fa fa-check"></i>
     Password has been reset successfully. Please login to the app with new credentails.
</div>

<style type="text/css">
	.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
</style>